<footer class="site-footer">
  <div class="social-links">
    {% if site.social.github %}
    <a
      href="https://github.com/{{ site.social.github }}"
      target="_blank"
      rel="noopener"
      >GitHub</a
    >
    {% endif %} {% if site.social.twitter %}
    <a
      href="https://twitter.com/{{ site.social.twitter }}"
      target="_blank"
      rel="noopener"
      >Twitter</a
    >
    {% endif %} {% if site.social.linkedin %}
    <a
      href="https://linkedin.com/in/{{ site.social.linkedin }}"
      target="_blank"
      rel="noopener"
      >LinkedIn</a
    >
    {% endif %} {% if site.social.instagram %}
    <a
      href="https://instagram.com/{{ site.social.instagram }}"
      target="_blank"
      rel="noopener"
      >Instagram</a
    >
    {% endif %} {% if site.social.substack %}
    <a
      href="https://{{ site.social.substack }}.substack.com"
      target="_blank"
      rel="noopener"
      >Substack</a
    >
    {% endif %}
  </div>

  <div class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</div>
</footer>
