<head>
  {% include meta.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">

  <!-- JavaScript -->
  <!-- Main site script (if any, can be combined or kept separate) -->
  <script defer src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  <!-- Mobile Navigation Script (Step 13) -->
  <script defer src="{{ "/assets/js/navigation.js" | prepend: site.baseurl }}"></script>
</head>