<head>
  {% include meta.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/code-copy.css" | prepend: site.baseurl }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">

  <!-- JavaScript -->
  <!-- Main site script -->
  <script defer src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  <!-- Mobile navigation script -->
  <script defer src="{{ "/assets/js/navigation.js" | prepend: site.baseurl }}"></script>
  <!-- Clipboard.js for code copying -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
  <!-- Custom code copy script -->
  <script defer src="{{ "/assets/js/copy-code.js" | prepend: site.baseurl }}"></script>
</head>