---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"> {{ page.date | date: "%b %-d, %Y" }} </time>
      {% if page.categories.size > 0 %}
      <span class="post-categories">
        in {% for category in page.categories %}
        <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %} {% endfor %}
      </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content">{{ content }}</div>

  {% if page.share %}
  <div class="post-share">
    <h4>Share this post</h4>
    <a
      href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
      target="_blank"
      rel="noopener"
      >Twitter</a
    >
    <a
      href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | url_encode }}"
      target="_blank"
      rel="noopener"
      >LinkedIn</a
    >
  </div>
  {% endif %}
</article>
